<%- include('partials/header',{myname:user.name}); -%>

<div class="account-page-outer">
    <div class="account-page-inner">

        <a class="edit-link" href="/editaccount"><i class="fas fa-pencil-alt"></i></a>

        <div class="home-link">
            <p> <a href="/feed">Home </a> >><span><%=accountholder.name%></span> </p>
        </div>

        <div class="user-profile">
            <div class="user-name-img">
                <img src="./uploads/<%=accountholder.dp%>" alt="_image">
                <p>&emsp;<strong><%=accountholder.name%></strong></p>
                <!-- <div class="user-img">
                    <img src="/images/mongalmoy_img.jpg" alt="_image">
                </div>
                <div class="user-name">
                    Mongalmoy Karmakar
                </div> -->
                <% if(accountholder.dp!="avater.jpeg"){ %>
                    <div class="remove-dp"><button><a href="/removedp">Remove DP</a></button></div>
                    <% }%>

            </div>

            <hr class="main-hr">

            <div class="user-profile-details">
                <p> <span>Email:&emsp;&emsp;<strong><%=accountholder.username%></span> </strong></p>
                <hr class="p-br">

                <p> <span>Mobile:&emsp;&emsp;<strong><%=accountholder.mobile%></span> </strong></p>
                <hr class="p-br">

                <p> <span>Currently Working At:&emsp;&emsp;<strong><%=accountholder.currorg%></span> </strong></p>
                <hr class="p-br">

                <p> <span>Current City:&emsp;&emsp;<strong><%=accountholder.currcity%></span> </strong></p>
                <hr class="p-br">

                <p> <span>Country:&emsp;&emsp;<strong><%=accountholder.country%></span> </strong></p>
                <hr class="p-br">

                <p> <span>Hometown:&emsp;&emsp;<strong><%=accountholder.hometown%></span> </strong></p>
                <hr class="p-br">

                <p> <span>Previously Worked At:&emsp;&emsp;<strong><%=accountholder.prevorg%></span> </strong></p>
                <hr class="p-br">

                <p> <span>Dept:&emsp;&emsp;<strong><%=accountholder.department%></span> </strong></p>
                <hr class="p-br">

                <p> <span>Batch:&emsp;&emsp;<strong><%=accountholder.year%></span></strong> </p>
                <hr class="p-br">
            </div>

            <div class="accountpage-delete-button">
                <a href="/deleteaccount">Delete Account</a>
            </div>
        </div>

    </div>
</div>

<%- include('partials/footer'); -%>