<%- include('partials/header',{user:currentuser}); -%>

<div class="chatbox" id="chatbox" onclick="closePopup()">
  <div>
    <% allposts.forEach(function(post){ %>
    <div class="feed">

      <div class="user-profile-container">
        <div class="user-img">
          <img src="./uploads/<%=post.authordp%>" alt="">
        </div>

        <div class="user-info">
          <p class="user-name"><%=post.author%></p>
          <p class="user-bio">Currently Working At: <strong><%=post.authorg%></strong></p>
          <p class="user-bio">JGEC&nbsp&nbsp<%=post.authdept%>&nbsp'<%=post.authpassyear%></p>
        </div>
        <div class="post-time-div">
          <i class="fas fa-globe-asia"></i>
          <p><%= post.posttime %></p>
        </div>

        <div onclick="displayEdit('<%=post.posttime%>'+'<%Math.random%>')" class="three-dots">
          <i class='bx bx-dots-horizontal-rounded'></i>
          <div class="outer-display-edit-div" id="<%=post.posttime%>">
            <div class="inner-display-edit-div">

              <div class="item">
                <div class="item-icon">
                  <i class="far fa-bookmark"></i>
                </div>
                <div class="item-contents">
                  <div>
                    <p>Save</p>
                    <p>Save for later</p>
                  </div>
                </div>
              </div>

              <div class="item">
                <div class="item-icon">
                  <i class="fas fa-link"></i>
                </div>
                <div class="item-contents">
                  <div>
                    <p>Copy link</p>
                  </div>
                </div>
              </div>
              <% if(post.poster===currentuser.username){ %>
              <div class="item">
                <div class="item-icon">
                  <i class="fas fa-pen"></i>
                </div>
                <div class="item-contents">
                  <div>
                    <p>Edit post</p>
                  </div>
                </div>
              </div>

              <div class="item">
                <div class="item-icon">
                  <i class="fas fa-trash-alt"></i>
                </div>
                <div class="item-contents">
                  <div>
                    <p>Delete post</p>
                  </div>
                </div>
              </div>

              <% }%>

            </div>
          </div>

        </div>

      </div>

      <div class="user-chatbox">
        <p><%=post.post%></p>
      </div>


      <% if(post.posttype==="1"){ %>
      <div class="user-chatbox-document-container">
        <a target="_blank" href="./uploads/<%=post.postfile%>">Click Here to see the file</a>
      </div>
      <% }%>



      <div class="user-chatbox-image-container">
        <% if(post.posttype==="2"){ %>
        <img style="width:350px" src="./uploads/<%=post.postfile%>" alt="Attached Image">
        <% }%>
      </div>


      <% if(post.posttype==="4"){ %>
      <div class="user-chatbox-audio-container">
        <audio controls>
          <source src="./uploads/<%=post.postfile%>" type="audio/mpeg">
        </audio>
      </div>
      <% }%>


      <% if(post.posttype==="3"){ %>
      <div class="user-chatbox-video-container">
        <video width="400" height="300" controls>
          <source src="./uploads/<%=post.postfile%>" type="video/mp4">
        </video>
      </div>
      <% }%>


      <hr style="margin: 4px 0; border: 0; height: 1px;">

      <div class="comment-like-share">
        <form action="/addlike" method="post" onclick="submit()">
          <i class="bx bxs-like"></i>
          <span class="countLikes"></span>
          <span>Like</span>
        </form>
        <form action="/addcomment">
          <i class='bx bx-comment-detail'></i>
          <span id="countComment"></span>
          <span>Comment</span>
        </form>
        <!-- <div> <i class="fal fa-share"></i> <span id="countShare"></span> <span>Share</span></div> -->
      </div>


      <!--Start Comment Div-->

      <div class="start-comment">
        <div class="container-img">
          <!-- <img src="/images/<%=currentuser.dp%>" alt="_image"> -->
          <img src="/images/mongalmoy_img.jpg" alt="_image">
        </div>
        <div class="input-comment">
          <input type="text" name="inputComment">
          <div class="comment-img-emoji">
            <div class="comment-img"> <i class="far fa-smile"></i> </div>
            <div class="comment-emoji"> <i class="fas fa-image"></i> </div>
          </div>
        </div>
      </div>

    </div>
    <% }) %>

  </div>

</div>


<div class="post-box-container" id="sendFormDiv" onclick="closePopup()">

  <form action="/addpost" method="POST" enctype="multipart/form-data">
    <div class="post-heading">
      <div>
        <p>Create a post</p>

        <i class=' close-button bx bx-x' onclick="closeForm()"></i>
      </div>
    </div>

    <hr>

    <div class="post-name-img">
      <img src="./uploads/<%=currentuser.dp%>" alt="_image">
      <div class="post-name">
        <%=currentuser.name%>
      </div>
    </div>

    <div class="post-box-body">
      <textarea name="inputText" id="posttextarea" cols="50" rows="6" placeholder="What do you want to talk about?"
        onkeypress="handleInputTextChange()" onkeyup="handleInputTextChange()" onchange="handleInputTextChange()"></textarea>
    </div>


    <!-- <video id="video" width="380" height="280" playsinline autoplay></video>
    <button id="capture">Capture</button>
    <canvas id="canvas" width="380" height="280"></canvas> -->

    <div class="attach">
      <div class="attach-button-container">
        <i class='bx bxs-smile'></i>
      </div>
  
      <div class="attach-button-container" onclick="dispalyAttachIcons()">
        <i class="far fa-paperclip"></i>

        <div class="attach-icon-div" id="attachIcons">
          <ul>
    
            <!-- <li>
              <div onclick="handleCaptureButton()" id="start-camera" class="camera-holder">
                <i class="fas fa-camera"></i>
              </div>
              <span class="tooltip">Camera</span>
            </li> -->
    
            <li>
              <div onclick="handleAttachImage()" class="image-holder">
                <i class="fas fa-image"></i>
                <input class="input-file" type="file" name="postfile" accept=".png, .jpeg, .jpg,.jpe,.mp4">
              </div>
              <span class="tooltip">Image</span>
            </li>
    
            <li>
              <div onclick="handleAttachDocument()" class="document-holder">
                <i class="far fa-file"></i>
                <input class="input-file" type="file" name="postfile"
                  accept=".xlsx,.xls ,.doc, .docx,.ppt, .pptx,.txt,.pdf">
              </div>
              <span class="tooltip">Document</span>
            </li>
    
            <li>
              <div onclick="handleAttachAudio()" class="audio-holder">
                <i class="fas fa-headphones-alt"></i>
                <input class="input-file" type="file" name="postfile" accept=".mp3, .wav">
              </div>
              <span class="tooltip">Audio</span>
            </li>
    
          </ul>
    
        </div>
      </div>

      <div class="attach-send-button">
        <button type="submit"><i id="sendButton" class='bx bxs-send'></i></button>
      </div>

    </div>

  </form>
</div>


<div class="emoji-icon-div">

</div>



<div id="openStartDiv" class="start-post-div" onclick="closePopup()">

  <div class="post-body">

    <div class="start-post-img">
      <img src="./uploads/<%=currentuser.dp%>" alt="_userimage">
    </div>
    <div class="start-post-content">
      <input onfocus="openForm()" placeholder="Add a post">
    </div>

  </div>

</div>



<%- include('partials/footer'); -%>