<%- include('partials/header',{user:currentuser}); -%>

<div class="chatbox" id="chatbox">
  <div>
    <% allposts.forEach(function(post){ %>
    <div class="feed">
      <div class="user-profile-container">
        <div class="user-img">
          <img src="./uploads/<%=post.authordp%>" alt="">
        </div>
        <div class="user-info">
          <p class="user-name"><%=post.author%></p>
          <p class="user-bio">Currently Working At: <strong><%=post.authorg%></strong></p>
          <p class="user-bio">JGEC&nbsp&nbsp<%=post.authdept%>&nbsp'<%=post.authpassyear%></p>
        </div>
        <div class="post-time-div">
          <i class="fas fa-globe-asia"></i>
          <p><%= post.posttime %></p>
        </div>
      </div>
      <div class="user-chatbox">
        <p><%=post.post%></p>
      </div>
      <hr style="margin: 4px 0; border: 0; height: 1px;">
      <div class="comment-like-share">
        <div onclick="handleClickOnLike()"> <i class='add-like bx bxs-like'></i> <span id="countLike"></span> <span>Like</span> </div>
        <div onclick="displayCommentSection()"> <i class='bx bx-comment-detail'></i> <span id="countComment"></span> <span>Comment</span> </div>
        <div > <i class="fal fa-share"></i> <span id="countShare"></span> <span>Share</span></div>
      </div>
      <div class="start-comment">
        <div class="container-img">
          <img src="/images/<%=currentuser.dp%>" alt="_image">
        </div>
        <div class="input-comment">
          <input type="text" name="inputComment">
          <div class="comment-img-emoji">
            <div class="comment-img"> <i class="far fa-smile"></i> </div>
            <div class="comment-emoji"> <i class="fas fa-image"></i> </div>
          </div>
        </div>
      </div>
    </div>
    <% }) %>

  </div>

</div>


<div class="post-box-container" id="sendFormDiv">
  <form action="/addpost" method="POST">
    <div class="post-heading">
      <div>
        <p>Create a post</p>

      <i class=' close-button bx bx-x' onclick="closeForm()"></i>
      </div>
    </div>

    <hr>

    <div class="post-name-img">
      <img src="./uploads/<%=currentuser.dp%>" alt="_image">
      <div class="post-name">
        <%=currentuser.name%>
      </div>
    </div>

    <div class="post-box-body">
      <textarea name="inputText" id="posttextarea" cols="50" rows="6" placeholder="What do you want to talk about?" onkeypress="handleChange()" onkeyup="handleChange()" onchange="handleChange()"></textarea>
    </div>

    <div class="send-button">
      <button type="submit" ><i id="sendButton" class='bx bxs-send'></i></button>
    </div>

    <div class="attach-icon-div" id="attachIcons">
      <ul>

        <!-- <li>
          <div onclick="handleCaptureButton()" id="start-camera" class="camera-holder">
            <i class="fas fa-camera"></i>
          </div>
          <span class="tooltip">Camera</span>
        </li> -->

        <li>
          <div onclick="handleAttachImage()" class="image-holder">
            <i class="fas fa-image"></i>
            <input class="input-file"  type="file" name="postAttachImage" accept=".png, .jpeg, .jpg" >
          </div>
          <span class="tooltip">Image</span>
        </li>

        <!-- <li>
          <div onclick="handleAttachDocument()" class="document-holder">
            <i class="far fa-file"></i>
            <input class="input-file" type="file" name="postAttachDocument" accept=".docx, .doc, .pdf, .xlsx" >
          </div>
          <span class="tooltip">Document</span>
        </li> -->

        <!-- <li>
          <div onclick="handleAttachAudio()" class="audio-holder">
            <i class="fas fa-headphones-alt"></i>
            <input class="input-file" type="file" name="postAttachAudio" accept=".mp3, .wav" >
          </div>
          <span class="tooltip">Audio</span>
        </li> -->

      </ul>

    </div>

    
    <!-- <video id="video" width="380" height="280" playsinline autoplay></video>
    <button id="capture">Capture</button>
    <canvas id="canvas" width="380" height="280"></canvas> -->

    
    <div class="attach" onclick="dispalyAttachIcons()">
      <i class="far fa-paperclip"></i>
    </div>

  </form>
</div>


<div id="openStartDiv" class="start-post-div">

    <div class="post-body">

      <div class="start-post-img">
        <img src="./uploads/<%=currentuser.dp%>" alt="_userimage">
      </div>
      <div class="start-post-content">
        <input onfocus="openForm()" placeholder="Add a post">
      </div>

    </div>

</div>



<%- include('partials/footer'); -%>