<%- include('partials/header',{user:currentuser}); -%>

<div>
    <div class="jolutree-year-page">
        <div style="width: 100%; margin-top: 10px; display: flex; align-items: center; justify-content: center;">
            <div>
                <a href="./all" class="jolutree-btn-grp__item">All</a>
                <a href="./me" class="jolutree-btn-grp__item">ME</a>
                <a href="./ce" class="jolutree-btn-grp__item">CE</a>
                <a href="./ee" class="jolutree-btn-grp__item">EE</a>
                <a href="./cse" class="jolutree-btn-grp__item">CSE</a>
                <a href="./it" class="jolutree-btn-grp__item">IT</a>
                <a href="./ece" class="jolutree-btn-grp__item">ECE</a>
            </div>
        </div>
    </div>

    <% if(people.length===0){ %>
    <h1 style="text-align:center;padding-top:50px">No User Found</h1>
    <% }%>
    <div class="jolutree-user-profiles">


        <% people.forEach(function(user){ %>
        <div class="jolutree-user-profile-container">
            <div class="jolutree-user-profile-img-container">
                <div class="jolutree-user-profile-img-border">
                    <img src="/uploads/<%=user.dp%>" alt="Profile Image">
                </div>
            </div>
            <hr class="jolutree-user-profile-container-divider">
            <div class="jolutree-user-profile-other-details">
                <div>
                    <h6><strong><%=user.name%></strong></h6>
                    <p><strong>Current Position:</strong> <%=user.currorg%></p>
                    <p><strong>Previous Position:</strong><%=user.prevorg%></p>
                    <p></p>
                </div>
            </div>
            <hr class="jolutree-user-profile-container-divider">
            <div class="jolutree-user-profile-social-media">
                <ul>
                    <li><a href="<%=user.linkedin%>" target="_blank"><i class='bx bxl-linkedin-square'></i></a></li>
                    <li><a href="<%=user.github%>" target="_blank"><i class='bx bxl-github'></i></a>
                    </li>
                    <li><a href="<%=user.instagram%>" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                </ul>
            </div>
        </div>

        <% })%>

    </div>
</div>

<%- include('partials/footer'); -%>