<%- include('partials/header',{user:currentuser}); -%>

<div class="user-page-outer" onclick="closePopup()">
  <div style="position: relative; width: 1000px;">

    <div class="user-page-profile-cover">
      <div class="user-page-cover">
        <img src="/uploads/defaultcoverpic.jpeg" alt="cover_photo" onclick="removeCoverEditPopup();">
        <div class="edit-cover"  onclick="displayCoverEditPopup()">
          <span> <i class="far fa-edit"></i> Edit</span>
        </div>
        <div class="cover-edit-popup" id="coverEditPopup">
          <div class="cover-upload">
            <i class="fal fa-upload"></i>
            <span onclick="inputCoverPhoto()">Upload Photo</span>
            <input id="inputUserCoverPhoto" name="inputUserCoverPhoto" type="file" accept=".jpeg, .jpg">
          </div>
          <div class="cover-delete">
            <i class="fal fa-trash-alt"></i>
            <span>Delete Photo</span>
          </div>
        </div>
      </div>


      <div class="user-page-profile" onclick="removeCoverEditPopup()">
        <div class="user-page-img-container">
          <img src="/uploads/<%=user.dp%>" alt="">
        </div>

        <div class="user-page-profile-name-details">
          <div class="user-page-profile-details">
            <h1><%=user.name%></h1>
            <h4>JGEC (<%=user.year-4%>-<%=user.year%>)</h4>
            <p><%=user.currcity%>,<%=user.country%></p>
          </div>
        </div>
      </div>

      <hr style="margin: 0 5px;" onclick="removeCoverEditPopup()">

      <div class="user-page-bio" onclick="removeCoverEditPopup()">
        <span><%=user.aboutyou%></span>
      </div>
    </div>

    <div class="userpage-otherdetail-feed" onclick="removeCoverEditPopup()">
      <div style="display: flex;">

        <div class="userpage-other-detail">

          <div class="userpage__userdetails">
            <i class="fas fa-briefcase"></i>
            <p>Works at <span><%=user.currorg%></span></p>
          </div>
          <div class="userpage__userdetails">
            <i class="fas fa-briefcase"></i>
            <p>Previously worked at <span><%=user.prevorg%></span></p>
          </div>
          <div class="userpage__userdetails">
            <i class="fas fa-graduation-cap"></i>
            <p>Studied <span><%=user.department%></span></p>
          </div>
          <div class="userpage__userdetails">
            <i class="fas fa-map-marker-alt"></i>
            <p>From <span><%=user.hometown%></span></p>
          </div>
          <div class="userpage__userdetails">
            <a href="<%=user.linkedin%>"><i class="fab fa-linkedin"></i>
            <p>Linkedin</p></a>
          </div>

          <div class="userpage__userdetails">
            <a href="<%=user.github%>"><i class="fab fa-github"></i>
            <p>Github</p></a>

          </div>
          <div class="userpage__userdetails">
            <a href="<%=user.instagram%>"><i class="fab fa-instagram"></i>
            <p>Instagram</p></a>
          </div>
          <div class="userpage__userdetails">
            <a href="<%=user.facebook%>"><i class="fab fa-facebook-square"></i>
            <p>Facebook</p></a>

          </div>

        </div>

        <div class="userpage-feed-container">

          <div class="userpage-chatbox">

            <div class="userpage-feed">

              <div class="userpage-feed-profile">
                <div class="userpage-feed-profile-img">
                  <img src="/images/mongalmoy_img.jpg" alt="">
                </div>
                <div class="userpage-feed-profile-name">
                  <div>
                    <p>Mongalmoy Karmakar</p>
                    <p>28 Jan, 2022 at 10:54 pm</p>
                  </div>
                </div>
                <div class="userpage-threedot-container">
                  <div class="userpage-threedot">
                    <i class="fas fa-ellipsis-h"></i>
                  </div>
                </div>
              </div>

              <div class="userpage-feed-content">
                <div class="userpage-feed-content-text">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quod illo assumenda atque cumque
                    commodi quaerat laudantium magni est! Quaerat autem voluptate inventore consequatur, libero, dolorum
                    corporis magni consequuntur, illum maiores facilis enim repellat eius accusamus ipsa est magnam
                    animi placeat explicabo esse alias rem architecto fugit nobis. Quibusdam commodi quod expedita,
                    veniam ut ullam aperiam quaerat totam rem dolore repellendus aliquam alias pariatur maxime similique
                    exercitationem. Consequuntur sunt, sapiente error id a vel ut? Consequatur iste delectus dolor
                    commodi suscipit asperiores, libero corrupti id ullam eveniet autem aspernatur. Eaque error ratione
                    illo quisquam, dolores amet dolorem eos delectus cum.</p>
                </div>
                
                <!-- Image started -->
                <div class="userpage-feed-content-img">
                  <img src="/images/enterpage.jpg" alt="">
                </div>
                <!-- Image ended -->

                <div class="userpage-feed-content-audio">
                  <audio controls>
                    <source src="/uploads/1642845369330-[Songs.PK] Raaz 3 - 05 - Kya Raaz Hai.mp3"></audio>
                </div>

                <div class="userpage-feed-content-video">
                  <video controls>
                    <source src="/video/VID20211212080322.mp4"></video>
                </div>
                
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

  </div>




  
</div>

<%- include('partials/footer'); -%>